/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
tests/.DS_Store
storage/.DS_Store
.gitignore
lang/.DS_Store
.gitignore
resources/views/.DS_Store
resources/.DS_Store
.gitignore
storage/framework/.DS_Store
database/.DS_Store
.DS_Store
